<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Login</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #user>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #password (keyup.enter)="submitFormLogin(user.value, password.value)" required>
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="submitFormLogin(user.value, password.value)">Submit</button>
        </div>
    </div>
  </div>
</div>
